
.formulario {
    background-color: $grisClaro;
    width: min(60rem, 100%); 
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;   
    fieldset {
        border: none;
    }
    legend {
        text-align: center;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 2rem;
        color: $negro;
      }
}

.campo:nth-child(3), /* aca digo que el campo 3 y 4 del div los ponga en columnas*/
.campo:nth-child(4) {
grid-column: 1 / 3;
}

.campo {
margin-bottom: 1rem;
    label {
    color: $negro;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
    }
    textarea {
        height: 18rem;
    }
}

.input-text {
width: 100%;
border: none;
padding: 1.5rem;
border-radius: 0.5rem;
}

.boton {
    margin-top: 2rem;
}

@import "botones";