$fuentePrincipal: 'Poppins', sans-serif;

/*Declaro un mapa de estilos para los títulos de cada página (Proyectos y Contacto)*/
$estilosTitulo: (
    color: $negro,
    h2-font-size: 2.5rem,
    h2-font-weight: bold,
    p-margin-top: 1rem,
    p-font-size: 1.4rem,
);

/*Utilizo map-get*/
.contenedorInfo {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    color: map-get($estilosTitulo,color);
    font-family: $fuentePrincipal;
    h2 {
        font-size: map-get($estilosTitulo, h2-font-size);
        font-weight: map-get($estilosTitulo,h2-font-weight);
    }
    p {
        margin-top: map-get($estilosTitulo,p-margin-top);
        font-size: map-get($estilosTitulo,p-font-size);
    }
}
