/*Importo los estilos*/
@import "fuentes";
@import "colores";

.footer-bg {
    background-color: $grisOscuro;
    margin-top: 5rem;
}
.footerContenedor {
    padding: 3rem;
}

.logosRedes { /*Centro los logos*/
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.iconosRedes { /*aire entre los iconos y el texto*/
    margin: 0 1rem;  
}





